html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

tr > td {
  border: none;
}

input,
textarea,
select {
  font-size: 16px;
}

#top-spacer-row {
  pointer-events: none;
}
.scroll-container {
  overflow-y: auto;
  overscroll-behavior: contain; /* 🔥 prevents page from taking over */
}

.scroll-container {
  max-width: 100%;
  overflow-x: hidden;
}
.scroll-container {
  -webkit-overflow-scrolling: touch;
}

.swipe-yellow {
  background-color: #facc15 !important;
}

.swipe-row {
  touch-action: pan-y; /* allow vertical scroll, block horizontal page movement */
}

.swipe-row {
  touch-action: pan-y;
}

.swipe-green {
  background-color: #11b049 !important;
  /* green-200 */
}
.swipe-red {
  background-color: #c10909 !important;
  /* red-200 */
}

table tr td {
  font-size: 12px !important;
  font-family: verdana;
  text-align: start !important;
}

table tr td:nth-child(3) {
  text-align: center !important;
}

table tr th {
  text-align: start !important;
}

.dt-paging-button {
  padding: 3px 8px !important;
  font-size: 12px;
}

div.dts div.dt-scroll-body,
div.dts div.dataTables_scrollBody {
  background: white !important;
}

div.dt-container.dt-empty-footer .dt-scroll-body {
  border-bottom: none;
}

.dt-scroll-body {
  overflow-y: auto !important;
}

/* Remove any extra space DataTables injects */
.dt-scroll-body > div {
  height: auto !important;
}

.recordsCountShadow {
  box-shadow: 0px 10px 34px 20px rgba(0, 0, 0, 0.15);
}

#top-spacer-row > td {
  border: none;
}

#bottom-spacer-row > td {
  border: none;
}

/* ---------------- */
.item-list {
  overflow: hidden;
}

.item-list .item {
  position: relative;
  display: table;
  width: 100%;
  background: #fff;
  margin-top: 5px;
}

.item-list .item > div {
  padding: 10px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

.item-list .item .action {
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0;
  border: 0;
  color: #fff;
  outline: none;
}

.item-list .item .action:first-child::before,
.item-list .item .action:last-child::before {
  position: absolute;
  top: 0;
  content: "";
  width: 2000px;
  height: 100%;
}

.item-list .item .action:first-child {
  left: -80px;
}

.item-list .item .action:first-child::before {
  right: 80px;
}

.item-list .item .action:last-child {
  right: -80px;
}

.item-list .item .action:last-child::before {
  left: 80px;
}

.item-list .item .action-right::before {
  background: #c10909;
}

.item-list .item .action-finished::before {
  background: #11b049;
}
.item-list .item .action-pending::before {
  background: #facc15;
}
